.articulo{
    .imgTit{
    padding: 0;
    overflow: hidden;
    .contenedor{
      position: relative;
      .imagen{
        width: 100%;
        height: 65vh;
        object-fit: cover;
        position: relative;
        z-index: -1;
        //filter: contrast(60%);
      }
      .tituloBlog{
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 45%;
        text-align: center;
          .TituloHero{
            color: white;
            font-family: 'Montserrat';
            font-size: calc(2vw + 2vh + 1vmin);
          }
          .descHero{
              font-size: calc(0.5vw + 0.5vh + 1vmin);
              font-family: Montserrat;
              color: wheat;
              animation-delay: 1s;
          }
      }
    }
  }
  .BlogContent{
      .colBlog{
        margin: 3em 0;
        .contenedorBlog{
          .nuxt-content {
            h1, h2, h3, p{
            font-family: 'Montserrat';
            }
            h1{
              font-weight: 600;
              color: #424242
            }
            h2{
              font-weight: 500;
              color:#6d6d6d;
              font-size: 1.8rem;
              margin-bottom: 1em
            }
            h3{
              font-size: 1.6rem;
              font-weight: 600;
            }
            p{
              font-size: 1.2em;
              text-align: justify;
            }
            hr{
                background: linear-gradient(to right, #ff9800, #fffb0e);
                height: 3px;
                width: 30%;
            }
          }
        }
      }
    
  }
  .cajaBtn{
    position: relative;
    .botonBlog{
        position: fixed;
        right: 200px;
        bottom: 105px;
        animation-delay: 1200ms;
        font-family: 'Montserrat';
        font-size: 1.1em;
        background-color:#ff9800;
        border:#ff9800;
        &:hover{
            transition: 200ms ease-in;
            background: #e74914;
        }
        &:focus{
            transition: 200ms ease-in;
            background: #e74914;
            box-shadow: none;
        }
    }
}
}

@include mediaSm {
    .articulo .imgTit .contenedor .tituloBlog .TituloHero{
        font-size: calc(2.5vw + 2.2vh + 2vmin);
    }
    .articulo .imgTit .contenedor .tituloBlog .descHero{
        font-size: calc(2vw + 1vh + 1vmin);
    }
    .articulo .BlogContent .colBlog .contenedorBlog .nuxt-content {
        h1{
            font-size: calc(3vw + 3vh + 1vmin);
            margin-bottom: 15px
        }
        h2{
            font-size: calc(2vw + 2vh + 1vmin);
 
        }
        h3{
            font-size: 1.2rem;
        }
        hr{
            width: 50%;
        }
    }
    .articulo .cajaBtn .botonBlog {
        left: 0!important;
        bottom: 15px;
        right: 0!important;
        position: absolute;
    }
}