.Equip{
    .seccion1{
        background-color: white;
        .titEq{
            h3{
                text-align: center;
                font-family: 'Montserrat';
                color: $texto-pl;
                font-size: 3em;
                font-weight: 600;
                > span{
                    color:$texto-s;
                }
            }
        }
        .txtEq{
            display: flex;
            align-items: center;
            p{
                font-family: 'Montserrat';
                font-size: 1.1em;
                line-height: 1.7;
                color: $texto-p;
                text-align: justify;
                margin: 0 1em;
            }
        }
        .imgEq{
            .imgFilo{
                width: 100%;
                height: 50vh;
                background: url(/img/Equip/HortecTeam.jpg) no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 25px;
            }
        }
        .comerciales{
            box-shadow:0px 0px 4px 4px #d6d8db;
            background: $background-p;
            overflow: hidden;
            .imgCo{
                padding: 0;
            .imgComerciales{
                width: 100%;
                height: 40vh;
                background: url(/img/Equip/comerciales.jpg) no-repeat;
                background-size:cover ;
                background-position: top center;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 101%;
                    width: 10%;
                    background:$background-p;
                    transform: skew(-10deg) translateX(-35px);
                }
                }
            }
           
            .txtComerciales{
                .text{
                    width: 100%;
                    height: 100%;
                    margin: 0 2em;
                    h3{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-pl;
                        font-size: 2.5em;
                        
                        > span{
                            color:$texto-s
                        }
                    }
                    hr{
                       
                        border: 2px solid #b3afaf;
                        border-radius: 10px;
                        width: 33%;
                    }
                    p{
                        font-family: 'Montserrat';
                        margin-right: 4em;
                        line-height: 1.8;
                        text-align: justify ;
                        font-size: 1.1em;
                        color: $texto-p;
                    }
                }
            }
        }
    }
    .trabajadoresComerciales{
        .seccionComerciales{
            .container > .trabajador {
                .imagenPerfil{
                    transition: 250ms ease;
                    img{
                        border-radius: 50%;
                    }
                }
                .informacion{
                    text-align: center;
                  
                    h4{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-p;
                        transition: 250ms ease;
                    }
                    span{
                        color:$texto-pl;
                        font-family: 'Montserrat';
                    }
                }
                &:hover{
                    .imagenPerfil{
                        transform: scale(1.05);
                        transition: 250ms ease;
                    }
                    .informacion{
                        transition: 250ms ease;
                        h4{
                            color:$texto-s
                        }
                    }
                }
            }
        }
    }
    .seccion2{
        .almacen{
            box-shadow:0px 0px 4px 4px #d6d8db;
            background: $background-p;
            overflow: hidden;
            .imgCo{
                padding: 0;
            .imgMagatzem{
                width: 100%;
                height: 40vh;
                background: url(/img/Equip/magatzem.jpg) no-repeat;
                background-size:cover ;
                background-position: center;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 101%;
                    width: 10%;
                    background:$background-p;
                    transform: skew(-10deg) translateX(-35px);
                }
                }
            }
           
            .txtAlmacen{
                .text{
                    width: 100%;
                    height: 100%;
                    margin: 0 2em;
                    h3{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-pl;
                        font-size: 2.5em;
                        
                        > span{
                            color:$texto-s
                        }
                    }
                    hr{
                       
                        border: 2px solid #b3afaf;
                        border-radius: 10px;
                        width: 33%;
                    }
                    p{
                        font-family: 'Montserrat';
                        margin-right: 4em;
                        line-height: 1.8;
                        text-align: justify ;
                        font-size: 1.1em;
                        color: $texto-p;
                    }
                }
            }
        }
        .seccionMagatzem{
            .container{
                max-width: 1400px;
                .almacen1,.almacen2{
                 .trabajador {
                width: 20%;
                .imagenPerfil{
                    transition: 250ms ease;
                    img{
                        border-radius: 50%;
                    }
                }
                .informacion{
                    text-align: center;
                  
                    h4{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-p;
                        transition: 250ms ease;
                    }
                    span{
                        color:$texto-pl;
                        font-family: 'Montserrat';
                    }
                }
                &:hover{
                    .imagenPerfil{
                        transform: scale(1.05);
                        transition: 250ms ease;
                    }
                    .informacion{
                        transition: 250ms ease;
                        h4{
                            color:$texto-s
                        }
                    }
                }
            }
        }
    }
}
    }
    .seccion3{
        .Transport{
            box-shadow:0px 0px 4px 4px #d6d8db;
            background: $background-p;
            overflow: hidden;
            .imgCo{
                padding: 0;
            .imgTrans{
                width: 100%;
                height: 40vh;
                background: url(/img/Equip/transports.jpg) no-repeat;
                background-size:cover ;
                background-position: center;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 101%;
                    width: 10%;
                    background:$background-p;
                    transform: skew(-10deg) translateX(-35px);
                }
                }
            }
           
            .txtTransport{
                .text{
                    width: 100%;
                    height: 100%;
                    margin: 0 2em;
                    h3{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-pl;
                        font-size: 2.5em;
                        
                        > span{
                            color:$texto-s
                        }
                    }
                    hr{
                       
                        border: 2px solid #b3afaf;
                        border-radius: 10px;
                        width: 33%;
                    }
                    p{
                        font-family: 'Montserrat';
                        margin-right: 4em;
                        line-height: 1.8;
                        text-align: justify ;
                        font-size: 1.1em;
                        color: $texto-p;
                    }
                }
            }
        }
        .seccionTrans{
            .container{
                max-width: 1400px;
                .transportistas1,.transportistas2{
                 .trabajador {
                width: 20%;
                .imagenPerfil{
                    transition: 250ms ease;
                    img{
                        border-radius: 50%;
                    }
                }
                .informacion{
                    text-align: center;
                  
                    h4{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-p;
                        transition: 250ms ease;
                    }
                    span{
                        color:$texto-pl;
                        font-family: 'Montserrat';
                    }
                }
                &:hover{
                    .imagenPerfil{
                        transform: scale(1.05);
                        transition: 250ms ease;
                    }
                    .informacion{
                        transition: 250ms ease;
                        h4{
                            color:$texto-s
                        }
                    }
                }
            }
        }
    }
}
    }
    .seccion4{
        .Administracio{
            box-shadow:0px 0px 4px 4px #d6d8db;
            background: $background-p;
            overflow: hidden;
            .imgCo{
                padding: 0;
            .imgAdmin{
                width: 100%;
                height: 40vh;
                background: url(/img/Equip/admin.jpg) no-repeat;
                background-size:cover ;
                background-position: center;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 101%;
                    width: 10%;
                    background:$background-p;
                    transform: skew(-10deg) translateX(-35px);
                }
                }
            }
           
            .txtAdmin{
                .text{
                    width: 100%;
                    height: 100%;
                    margin: 0 2em;
                    h3{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-pl;
                        font-size: 2.5em;
                        
                        > span{
                            color:$texto-s
                        }
                    }
                    hr{
                       
                        border: 2px solid #b3afaf;
                        border-radius: 10px;
                        width: 33%;
                    }
                    p{
                        font-family: 'Montserrat';
                        margin-right: 4em;
                        line-height: 1.8;
                        text-align: justify ;
                        font-size: 1.1em;
                        color: $texto-p;
                    }
                }
            }
        }
        .seccionAdmin{
            .container{
                max-width: 1400px;
                .adm1,.adm2{
                 .trabajador {
                width: 20%;
                .imagenPerfil{
                    transition: 250ms ease;
                    img{
                        border-radius: 50%;
                    }
                }
                .informacion{
                    text-align: center;
                  
                    h4{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-p;
                        transition: 250ms ease;
                    }
                    span{
                        color:$texto-pl;
                        font-family: 'Montserrat';
                    }
                }
                &:hover{
                    .imagenPerfil{
                        transform: scale(1.05);
                        transition: 250ms ease;
                    }
                    .informacion{
                        transition: 250ms ease;
                        h4{
                            color:$texto-s
                        }
                    }
                }
            }
        }
    }
}
    }
}
@include mediaSm{
    .Equip{
        .cabecera-peque .imagenCabeceraPeque.equipImg{
            background-position: center center!important;
        }
        .seccion1 .comerciales .txtComerciales .text{
            margin: 1em 0;
            p{
                margin: 1em 0;
            }
        }
        .seccion1 .comerciales .imgCo .imgComerciales::before{
            opacity: 0;
        }
        .seccionComerciales > div:nth-child(1) > div:nth-child(1){
            flex-direction: column!important;
        }
        .seccion2 .almacen .txtAlmacen .text{
            margin: 1em 0;
            p{
                margin: 1em 0;
            }
        }
        .seccion2 .almacen .imgCo .imgMagatzem::before {
            opacity: 0;
        }
        .almacen1,.almacen2{
            flex-direction: column;
        }
            .seccion2 .seccionMagatzem .container .almacen1 .trabajador, .seccion2 .seccionMagatzem .container .almacen2 .trabajador{
            width: 100%;
        }
        .seccion3 .Transport .txtTransport .text {
            margin: 1em 0;
            p{
                margin: 1em 0;
            }
        }
        .seccion3 .Transport .imgCo .imgTrans::before {
            opacity: 0;
        }
        .transportistas1{
            flex-direction: column;
        }
        .transportistas2{
            flex-direction: column-reverse;
        }
        .seccion3 .seccionTrans .container .transportistas1 .trabajador,  .seccion3 .seccionTrans .container .transportistas2 .trabajador {
            width: 100%;
        }
        .seccion4 .Administracio .txtAdmin .text{
            margin: 1em 0;
            p{
                margin: 1em 0;
            }
        }
        .seccion4 .Administracio .imgCo .imgAdmin::before {
            opacity: 0;
        }
        .adm1{
            flex-direction: column;
        }
        .seccion4 .seccionAdmin .container .adm1 .trabajador, .seccion4 .seccionAdmin .container .adm2 .trabajador{
            width: 100%;
        }
    }
}