/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.families{
    .Families-1{
        .fila-1{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-bottom: 15vh;
            .columna-intro>.introFam{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: column wrap;
                        flex-flow: column wrap;
                h2{
                    font-size: 3rem;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    color: #6d6d6d;
                    text-align: center;
                    .dest{
                        color:#8cb201;
                    }
                }
                p{
                    font-family: 'Montserrat';
                    text-align: center;
                    margin-top: 0.5em;
                    font-weight: 400;
                    font-size: 1.1em;
                }
            }
        }
        .fila-2{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            .famProd{
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                .wrapperProductos{
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: row wrap;
                            flex-flow: row wrap;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    .selectorFamilia{
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-flow: column wrap;
                                flex-flow: column wrap;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center; 
                        width: 30%;
                        margin-bottom: 70px;
                        .imgFam{
                            margin-bottom: 15px;
                            -webkit-transition: 0.5s ease-in;
                            -o-transition: 0.5s ease-in;
                            transition: 0.5s ease-in;
                            border-radius: 50%;
                        }
                        .txtFam{
                            text-align: center;
                            h3{
                                font-family: 'Montserrat';
                                color:$texto-pl;
                                font-weight: 600;
                                -webkit-transition: 0.2s ease-in;
                                -o-transition: 0.2s ease-in;
                                transition: 0.2s ease-in;
                            }
                            p{
                                font-family: 'Montserrat';
                                color: $texto-p;
                                font-size: 1.1em;
                                margin: 0 1em;
                            }
                        }
                        &:hover{
                            .imgFam{
                                -webkit-transform: scale(1.1);
                                    -ms-transform: scale(1.1);
                                        transform: scale(1.1);
                                -webkit-transition: 0.3s ease-in;
                                -o-transition: 0.3s ease-in;
                                transition: 0.3s ease-in;
                                -webkit-box-shadow: 0px 0px 11px 2px #495057;
                                        box-shadow: 0px 0px 11px 2px #495057;
                            }
                            .txtFam{
                                h3{
                                    -webkit-transition: 0.2s ease-in;
                                    -o-transition: 0.2s ease-in;
                                    transition: 0.2s ease-in;
                                text-decoration: underline;
                                -webkit-text-decoration-color: $background-s;
                                        text-decoration-color: $background-s;
                                text-decoration-thickness: 2.8px;
                                }
                                
                            }
                        }
                    }
                }
            }

            .ctaFam{
                height: 25vh;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                background-color: $background-p;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-shadow: 0px 0px 4px 1px #d6d8db;
                        box-shadow: 0px 0px 4px 1px #d6d8db;
                .textoCta{
                    width: 65%;
                    text-align: center;
                 h4{
                    font-size: calc(2vw + 1vh + 1vmin);
                    font-family: 'montserrat';
                    font-weight: 600;
                    color: $background-s;
                 }
                }
                .btnsCta {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: row wrap;
                            flex-flow: row wrap;
                    -webkit-box-pack: space-evenly;
                        -ms-flex-pack: space-evenly;
                            justify-content: space-evenly;
                    width: 35%;
                    overflow: hidden;
                    height: 100%;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    
                    .btn-informacio{
                        font-family: 'Montserrat';
                        background: $background-sl;
                        border-color: $background-sl;
                        -webkit-transition: 0.3s ease-in;
                        -o-transition: 0.3s ease-in;
                        transition: 0.3s ease-in;
                        font-size: 1.4em;
                        font-weight: 600;
                        outline: none;
                        &:hover{
                            -webkit-transform: scale(1.05);
                                -ms-transform: scale(1.05);
                                    transform: scale(1.05);
                            background-color: $background-so;
                        }
                        &:focus{
                            -webkit-box-shadow: none!important;
                                    box-shadow: none!important;
                        }
                    }
                    .btn-botiga{
                        border-color: $background-sl;
                        color: $background-sl;
                        -webkit-transition: 0.3s ease-in;
                        -o-transition: 0.3s ease-in;
                        transition: 0.3s ease-in;
                        font-size: 1.4em;
                        font-weight: 600;
                        font-family: 'Montserrat';
                        transition: 0.3s ease-in;
                        outline: none;
                        &:hover{
                            background-color: $background-sl;
                            color: white;
                            border-color: $background-sl;
                        }
                        &:focus{
                            -webkit-box-shadow: none!important;
                                    box-shadow: none!important;
                        }
                    }
                }
            
            }
        }
    }
    .ampliacionFam{
        .rowAmp{
            -webkit-box-shadow: 0px 4px 3px #d6d8db;
                    box-shadow: 0px 4px 3px #d6d8db;
        .columna1>.txtAmp{
            margin: 2em 0;
            h3{
                font-family: 'Montserrat';
                color:$background-s;
                font-size: calc(2vw + 2vh + 1vmin);
            }
            hr{
                width: calc(30vw + 2vh + 1vmin);
                border: 2px solid $texto-pl;
            }
        }
        .columna2>.imagenSkew{
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 15%;
                background: white;
                z-index: -1;
                height: 102%;
                -webkit-transform: skew(-8deg) translateX(-40px);
                    -ms-transform: skew(-8deg) translateX(-40px);
                        transform: skew(-8deg) translateX(-40px);
            }
            img{
                z-index: -10;
            }
        }
    }
    .itemsFam{
        .colItems>.container{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row;
                    flex-flow: row;
            max-width: 1300px;
            .componente{
                width: 100%;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                .item{
                width: 33%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: column wrap;
                        flex-flow: column wrap;
                -ms-flex-line-pack: center;
                    align-content: center;
                margin: 2.5em 0;
                text-align: center;
                -webkit-transition: all 0.5s ease-in;
                -o-transition: all 0.5s ease-in;
                transition: all 0.5s ease-in;
                .icono{
                    margin-bottom: 0.5em;
                    
                }
                .textoItem{
                    h4{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color: $texto-pl;
                        -webkit-transition: 0.5 ease-in;
                        -o-transition: 0.5 ease-in;
                        transition: 0.5 ease-in;
                    }
                    p{
                        font-family: 'Montserrat';
                     }
                    }
                    &:hover{
                        .icono{
                            -webkit-transform: scale(1.05);
                                -ms-transform: scale(1.05);
                                    transform: scale(1.05);
                            -webkit-transition: 500ms ease-in;
                            -o-transition: 500ms ease-in;
                            transition: 500ms ease-in;
                        }
                        .textoItem{
                            h4{
                                color: $background-s;
                                -webkit-transition: 500ms ease-in;
                                -o-transition: 500ms ease-in;
                                transition: 500ms ease-in;
                            }
                        }
                    }
                }
            }
        }
    }
    }
}
// Responsive

@include mediaSm {
    .families{
        .fila-2{
            .famProd{
                .wrapperProductos{
                    -webkit-box-orient: vertical!important;
                    -webkit-box-direction: normal!important;
                        -ms-flex-flow: column wrap!important;
                            flex-flow: column wrap!important;
                    .selectorFamilia{
                        width: 100%!important;
                    }
                }
            }
            .ctaFam{
                height: 55vh!important;
                -webkit-box-orient: vertical !important;
                -webkit-box-direction: normal !important;
                    -ms-flex-flow: column wrap !important;
                        flex-flow: column wrap !important;
                -webkit-box-pack: space-evenly!important;
                    -ms-flex-pack: space-evenly!important;
                        justify-content: space-evenly!important;
                padding: 20px 0;
                .textoCta{
                    width: 100%!important;
                    text-align: center;
                    h4{
                        font-size: 2rem!important;
                    }
                }
                .btnsCta{
                    width: 100%!important;
                    -webkit-box-orient: vertical!important;
                    -webkit-box-direction: normal!important;
                        -ms-flex-flow: column!important;
                            flex-flow: column!important;
                    -webkit-box-align: center!important;
                        -ms-flex-align: center!important;
                            align-items: center!important;
                    height: 40%!important;
                    -webkit-box-pack: space-evenly!important;
                        -ms-flex-pack: space-evenly!important;
                            justify-content: space-evenly!important;
                
                }
           }
        }
        .ampliacionFam{
            .columna1{
                margin: 3em 0;
            }
            .columna2>.imagenSkew::before{
                opacity: 0;
            }
            .columna2>.imagenSkew img{
                max-width: 100vw;
            }
            .itemsFam{
                .colItems>.container>.componente{
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: column wrap;
                            flex-flow: column wrap;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    .item{
                        width: 100%;
                    }
                }
            }
        }
        }
        
}

@media screen and (max-width:1024px){
    .families{
        .ampliacionFam{
            .columna2>.imagenSkew{
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                &::before{
                    -webkit-transform: skew(-8deg) translateX(-35px);
                        -ms-transform: skew(-8deg) translateX(-35px);
                            transform: skew(-8deg) translateX(-35px);
                    width: 20%;
                }
            }
           
        }
    }
}   