.families{
    .Families-1{
        .fila-1{
            justify-content: center;
            margin-bottom: 15vh;
            .columna-intro>.introFam{
                flex-flow: column wrap;
                h2{
                    font-size: 3rem;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    color: #6d6d6d;
                    text-align: center;
                    .dest{
                        color:#8cb201;
                    }
                }
                p{
                    font-family: 'Montserrat';
                    text-align: center;
                    margin-top: 0.5em;
                    font-weight: 400;
                    font-size: 1.1em;
                }
            }
        }
        .fila-2{
            justify-content: center;
            .famProd{
                justify-content: center;
                .wrapperProductos{
                    flex-flow: row wrap;
                    justify-content: space-between;
                    .selectorFamilia{
                        flex-flow: column wrap;
                        align-items: center; 
                        width: 30%;
                        margin-bottom: 70px;
                        .imgFam{
                            margin-bottom: 15px;
                            transition: 0.5s ease-in;
                            border-radius: 50%;
                        }
                        .txtFam{
                            text-align: center;
                            h3{
                                font-family: 'Montserrat';
                                color:$texto-pl;
                                font-weight: 600;
                                transition: 0.2s ease-in;
                            }
                            p{
                                font-family: 'Montserrat';
                                color: $texto-p;
                                font-size: 1.1em;
                            }
                        }
                        &:hover{
                            .imgFam{
                                transform: scale(1.1);
                                transition: 0.3s ease-in;
                                box-shadow: 0px 0px 11px 2px #495057;
                            }
                            .txtFam{
                                h3{
                                    transition: 0.2s ease-in;
                                text-decoration: underline;
                                text-decoration-color: $background-s;
                                text-decoration-thickness: 2.8px;
                                }
                            }
                        }
                    }
                }
            }

            .ctaFam{
                height: 25vh;
                justify-content: space-around;
                background-color: $background-p;
                align-items: center;
                .textoCta{
                    width: 65%;
                    text-align: center;
                 h4{
                    font-size: 2.5rem;
                    font-family: 'montserrat';
                    font-weight: 600;
                    color: $background-s;
                 }
                }
                .btnsCta {
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    width: 35%;
                    overflow: hidden;
                    height: 100%;
                    align-items: center;
                    
                    .btn-informacio{
                        font-family: 'Montserrat';
                        background: $background-sl;
                        border-color: $background-sl;
                        transition: 0.3s ease-in;
                        font-size: 1.4em;
                        font-weight: 600;
                        outline: none;
                        &:hover{
                            transform: scale(1.05);
                            background-color: $background-so;
                        }
                        &:focus{
                            box-shadow: none!important;
                        }
                    }
                    .btn-botiga{
                        border-color: $background-sl;
                        color: $background-sl;
                        transition: 0.3s ease-in;
                        font-size: 1.4em;
                        font-weight: 600;
                        font-family: 'Montserrat';
                        transition: 0.3s ease-in;
                        outline: none;
                        &:hover{
                            background-color: $background-sl;
                            color: white;
                            border-color: $background-sl;
                        }
                        &:focus{
                            box-shadow: none!important;
                        }
                    }
                }
            
            }
        }
    }
}
// Responsive

@include mediaSm {
    .families{
        .fila-2{
            .famProd{
                .wrapperProductos{
                    flex-flow: column wrap!important;
                    .selectorFamilia{
                        width: 100%!important;
                    }
                }
            }
            .ctaFam{
                height: 50vh!important;
                flex-flow: column wrap !important;
                justify-content: space-evenly!important;
                padding: 20px 0;
                .textoCta{
                    width: 100%!important;
                    text-align: center;
                    h4{
                        font-size: 2rem!important;
                    }
                }
                .btnsCta{
                    width: 100%!important;
                    flex-flow: column!important;
                    align-items: center!important;
                    height: 40%!important;
                    justify-content: space-between!important;
                
                }
           }
        }
    }
}