

// Titulo y Subititulo
.cabecera {
    margin-bottom: 100px;
    overflow: hidden;
}
.container-cabecera {
    .tituloInicio {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 6em;
        background: transparent;
        text-shadow: 0em 0.08em 0em rgba(0, 0, 0, 0.4);
        color: $color-logo;
        @include fontSmooth();
    }
    .subtInicio {
        font-family: 'Varela Round';
        @include fontSmooth();
    }
}

// Primer Container 

.MainPresentacion {
    background: $background-pl;
    
    .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
    }
    .presentacion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
        margin-bottom: 20px;

        h2 {
            font-size: 2.7rem;
            font-family: 'Montserrat';
            font-weight: 600;
            color: $texto-pl;
            text-align: center;

            > span {
                color:$texto-s;
            }
        }

        p {
            font-family: 'Varela Round';
            font-size: 1.2em;
            color: $texto-p;
        }
    }
    .presentacion2 {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 50px;

        .txtPre {
            margin-right: 20%;
            margin-left: 20%;
            text-align: center;
            font-family: 'Montserrat';
            font-size: 2em;
            font-weight: 600;
            color: $texto-p ;

            strong {
                color: $background-so;
            }
        }
    }
}

//Contenedor Principal 
.Inicio{
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1
}
.Principal {
    -webkit-box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.101562);
            box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.101562);
    background: $background-p;
    overflow: hidden;

    .cooperativa {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .txtCop {
            margin-top: 30px;
            padding-left: 50px;
            margin-bottom: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                    flex-flow: column wrap;

            h3 {
                font-family: 'Montserrat';
                font-weight: 600;
                color: $texto-s;
                font-size: 2.5em;
                @include fontSmooth();
            }

            p {
                font-family: 'Varela Round';
                font-size: 1.1em;
                color: $texto-p;
                @include fontSmooth();
            }
            .btn-outline-warning {
                color:$texto-p;
                border-color: $background-s;
                font-family: 'Varela Round';
                @include easeIn();
                &:hover {
                    background-color: $background-s;
                    -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                            transform: scale(1.1);
                    @include easeIn();
                }
            }
        }
        .imgCop {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: url('/img/cooperativa.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            .espacio {
                height: 387px;
            }
            /*img {
                margin-top:25px;
                margin-bottom: 25px;
                -webkit-box-shadow: 20px 14px 16px -6px rgba(0,0,0,0.75);
                -moz-box-shadow: 20px 14px 16px -6px rgba(0,0,0,0.75);
                box-shadow: 20px 14px 16px -6px rgba(0,0,0,0.75);
            }*/
        }
    }


    
}
//Familes

.families {
    .rowFamilies {
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        .colImg {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            img{
                border-radius: 10%;
                -webkit-box-shadow: 20px 14px 16px -6px rgba(0,0,0,0.75);
                        box-shadow: 20px 14px 16px -6px rgba(0,0,0,0.75);
            }
        }
        .colTxt {
            h3{
                font-family: 'Montserrat';
                font-weight: 600;
                color: $texto-s;
                font-size: 2.5em;
                @include fontSmooth();
            }
            h6{
                color:$texto-so;
                font-family: 'Montserrat';
            }
            p{
                font-family: 'Varela Round';
                font-size: 1.1em;
                color: $texto-p;
                @include fontSmooth();
            }
            .btn-outline-warning {
                color:$texto-p;
                border-color: $background-s;
                font-family: 'Varela Round';
                @include easeIn();
                &:hover {
                    background-color: $background-s;
                    -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                            transform: scale(1.1);
                    @include easeIn();
                }
            }
        }
    }
}

//Tarjetas Escollir Hortec
.tarjetasInicio {
    background: #8cb201;
    .tjtTit{
        margin-bottom:40px;
        h2{
            text-align: center;
            color: $background-pl;
            font-family: 'Montserrat';
            font-weight: 600;
            
            margin-bottom: 30px;
            font-size: 2.5em;
            span {
                color: $texto-s;
            }
        }
    }

    .filaTjts {
        .contenedorTjt {
            margin-bottom: 15vh;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                    flex-flow: column wrap;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: #ffffffe8;
            border-radius: 25px;
            -webkit-transition: 100ms;
            -o-transition: 100ms;
            transition: 100ms;
            -webkit-box-shadow: 0px 25px 27px -20px rgba(48,48,48,1);
                    box-shadow: 0px 25px 27px -20px rgba(48,48,48,1);
            &:hover {
                -webkit-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                        transform: scale(1.05);
                -webkit-transition: 100ms ease-in-out;
                -o-transition: 100ms ease-in-out;
                transition: 100ms ease-in-out;
            }
            .iconoTjt {
                position: relative;

                img {
                    margin-top: -3vh;
                }
            }
            .bodyTjt{
                text-align: center;
                h4 {
                    font-family: 'Montserrat';
                    color:$texto-p;
                }
                h6{
                    color:$texto-s;
                    font-family: 'Varela Round';
                }
                p {
                    font-family: 'Montserrat';
                    font-weight: 400;
                    color: $texto-p;
                }
            }
        }
    }
}

.sepTjts {
    .separadorBot {
        background-color: white;
    }
}
//Seccion Empresas
.rowEmpresas {
    margin-top:-60px;
    margin-bottom:10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .contEmpresa {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        .cabeceraEmpresa {
            h4{
                color:$texto-s;
                font-family: 'Montserrat';
                font-weight: 600;

            }
            h6{
                color:$texto-p;
                font-family: 'Varela Round';
                font-size: 1.1em;
            }
        }
        .bodyEmpresas {
            p {
                font-family: 'Montserrat';
                color: $texto-p;

            }
            .btn-outline-warning {
                color:$texto-p;
                border-color: $background-s;
                font-family: 'Varela Round';
                @include easeIn();
                &:hover {
                    background-color: $background-s;
                    -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                            transform: scale(1.1);
                    @include easeIn();
                }
            }
        }
    }
    .container-logo-empresa {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        .logoEmpresa {
            img{
                opacity: .75;
                -webkit-filter: grayscale(100%); 
                filter: grayscale(100%);
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                &:hover{
                    -webkit-filter: none;
                            filter: none;
                }
            }
        }
    }
}
//Sección Contacto
.contacto {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.101562);
            box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.101562);
    .colMos{
        margin-top: 40px;
    .imagenMosaico {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        .mosaico {
            opacity: 0.75;
        }
    }
}
    .txtContacto{
        h3{
            font-family: 'Montserrat';
            font-weight: 600;
            color: $texto-s;
            font-size: 2.5em;
            @include fontSmooth();
        }
        p{
            margin-right: 4em;
            font-family: 'Varela Round';
            color: $texto-p;
        }
        .botones-contacto {
            .btn-outline-warning {
                color:$texto-p;
                border-color: $background-s;
                font-family: 'Varela Round';
                @include easeIn();
                &:hover {
                    background-color: $background-s;
                    -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                            transform: scale(1.1);
                    @include easeIn();
                }
            }
        }
    }
}
//ADV
.adv{
    margin-top: -50px;
    .separador{
        width:100%;
        padding:0;
        margin:0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position:relative;
    }
    .containerAdv {
        background-color: $background-s;
        height: 30vh;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        .contenido{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                    flex-flow: column wrap;
            width: 65%;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            h3 {
            font-size: 4em;
            font-family: 'Montserrat';
            font-weight: 600;
            color: white;
            text-align:center;
            }
            p {
            color: white;
            font-size: 1.2em;
            font-family: 'Varela Round';
            text-align: center;

        }
        .btn {
            color:$texto-s;
            border-color: $background-p;
            background: $background-p;
            font-family: 'Varela Round';
            @include easeIn();
            margin-bottom: 0.5em;
            &:hover {
                color: $texto-so;
                -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                        transform: scale(1.1);
                @include easeIn();
             }
            }
        }
    }
    .separadorBottom {
        background: #8cb201;
    }
}

//Localizacion

.Localizacion {
    margin-top: 80px;
    margin-bottom: 80px;
    .rowLocalizacion {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    .infoLoc {
        .container-localizacion {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column;
                    flex-flow: column;

            h3 {
                font-family: 'Montserrat';
                font-weight: 600;
                color: $texto-s;
                font-size: 2.5em;
            }
            h6 {
                font-family: 'Varela Round';
                color: $texto-p;

            }
            p{
                font-family: 'Montserrat';
            }
            .metro{
                width: 35px;
            }
            .separadorLoc {
                margin-top: 5px;
                margin-bottom: 20px;
                border: solid 2px orange;
                width: 50%;
                border-radius: 10px;
                background-color: orange;
            }
            .telf-mail{
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                font-family: 'Montserrat';
                font-weight: 600;
                > div:hover {
                    color:$texto-so;
                    -webkit-transition: ease-in 200ms;
                    -o-transition: ease-in 200ms;
                    transition: ease-in 200ms;
                }
                a{
                    color:$texto-pl;
                    
                    &:hover {
                    text-decoration: none;
                    color:$texto-s;
                    -webkit-transition: ease-in 200ms;
                    -o-transition: ease-in 200ms;
                    transition: ease-in 200ms;
                }
                }
            }  } 
        }
        .container-mapa {
            overflow: hidden;
            border-radius: 50px;
            -webkit-box-shadow: 4px 3px 5px #00000085;
                    box-shadow: 4px 3px 5px #00000085;
        }
    }
}


//RESPONSIVE VERSION MOVIL

//INICIO 
@include mediaSm {
    .Inicio{
        overflow: hidden;
    }
    .container-cabecera{
        .tituloInicio{
            font-size: 4em;
        }
        .subtInicio {
            font-size: 1.1em;
        }
    }
    .presentacion{
        text-align: center;
    }
    .MainPresentacion .fila1{
        -webkit-box-orient: vertical; 
           -webkit-box-direction: normal;
               -ms-flex-direction: column;  
                 flex-direction: column;
                 height: auto;
    }
    .MainPresentacion .presentacion2 .txtPre {
        font-size: 1.5em!important;
        margin-right: 0;
        margin-left: 0;
    }
    .Principal{

     .cooperativa {
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
            -ms-flex-flow: column wrap!important;
                flex-flow: column wrap!important;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; 

        .txtCop{
            padding-left: 15px!important;
            h3{
                text-align: center;
                margin-bottom: 0.8em;
            }
            p{
                margin-right: 0!important;
                text-align: center;
            }
            .btnCop {
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                margin-top: 0.5em;
                }
            }
        }
    }
    .families {
        .rowFamilies{
            -webkit-box-orient: vertical!important;
            -webkit-box-direction: reverse!important;
                -ms-flex-direction: column-reverse!important;
                    flex-direction: column-reverse!important;
                    -ms-flex-wrap: wrap-reverse;
                        flex-wrap: wrap-reverse;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
            .colTxt {
                >div {
                    margin-top:2.5em;
                }
                h3,h6 {
                    text-align: center;
                }

                p{
                    text-align: justify;
                }
                .btnFam {
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
            }
            .colImg .contenedorImg {
                img{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
    .adv {
        display: flex;
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
            -ms-flex-flow: column wrap!important;
                flex-flow: column wrap!important;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
        overflow: hidden!important;
        .containerAdv{
             .contenido {
            width: auto;
            
                h3{
                    font-size: 2em;
                }
                p {
                    margin-left: 15px;
                    margin-right: 15px;
                    font-size: 1.05em;
                }
             }
        
    }
    .tarjetasInicio{
        overflow: hidden;
        display: none;
        .tjtTit>h2{
            margin-top: 0vh!important;
        }
        .filaTjts{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                    flex-flow: column wrap;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
        }
    }
    }
    .rowEmpresas {
        margin-top: 0px;
        .contEmpresa{
            margin-bottom: 2em;
        }
        .container-logo-empresa{
            overflow-y: hidden;
            overflow-x: scroll;
            white-space: nowrap;
            .logoEmpresa{
                display: inline block;
                &:first-child{
                    padding-left: 13em;
                    >a>img{
                        height: 45px;
                    }
                }
                &:last-child{
                    margin-left: 1em;
                   padding-right: 1em;
                }
            }
        }
    }
    .contacto{
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: reverse!important;
            -ms-flex-direction: column-reverse!important;
                flex-direction: column-reverse!important;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
        .colMos{
            padding: 40px 0 0 0;
            .imagenMosaico{
                width: 100%;
                >div {
                    width: 100%;
                    .mosaico{
                        width: 100%;
                    }
                }
            }
        }
        .col-con-txt {
            margin-top: 2em;
        }
        .txtContacto {
            h3 {
                text-align: center;
                font-size: 2.3em;
            }
            p{
                margin-right: 0;
                text-align: center;
            }
            .botones-contacto{
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                margin-top: 20px;
            }
        }
    }
    .rowLocalizacion {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
        .infoLoc{
            margin-bottom: 50px;
            .container-localizacion {
                margin-bottom: 3em;
                h3, h6{
                    text-align:center;
                }
                p{
                    text-align: center;
                }
                .separadorLoc{
                    margin: auto;
                }
            }
        }
        .container-mapa {
            overflow: hidden;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;

        }
    }
}