/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.titulo{
    .logo {
    width: 40%;
    max-width: 200px;
    height: 40px;
    }
    .NuxtLogo {
        max-width: 30px;
      margin-left: 10px;
      max-height: 40px;
    }
}
.MenuNav {
    background-color:#f5f5f5cc ;
    font-family: 'Montserrat';
    font-weight: 600;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    &.solid {
        background-color: $background-p ;
        -webkit-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
    }

    .titulo {
        margin-left: 3rem;
    }
    .linksMenu  {
        margin-right: 1rem;
    }

    .nav-link {
        color: $texto-pl!important;
        @include easeIn();
        &:hover {
            color: $texto-s!important;
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1);
            @include easeIn();
        }
        &.nuxt-link-active{
            color: $texto-s!important;
        }
    }


    .botonCta {
        .botiga {
            background-color: $texto-s;
            font-family: 'Varela Round';
            margin-right: 0.5em;
            border: none;
            overflow: hidden;
            @include easeIn();
        
            &:hover{
                background-color: $background-pl;
                -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                        transform: scale(1.1);
                color: $texto-s;
                @include easeIn();
            }
        }
    }
    .idiomas {
        .selector{
            width: 2em;
            flex-flow: column wrap;
            .esp,.cat {
                display: flex;
                justify-content: center;
                width: 80%;
                align-self: center;
                img{
                    transition: 150ms ease-in;
                        -webkit-transition: 150ms ease-in;
                        -moz-transition: 150ms ease-in;
                        -ms-transition: 150ms ease-in;
                        -o-transition: 150ms ease-in;
                    width: 100%;
                    height: 1em;
                    &:hover{
                        
                        transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                        -moz-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                        -o-transform: scale(1.05);
}
                }
            }
            .esp{
                margin-bottom: 5px;
            }
            .cat{
                margin-top: 5px;
            }
        }
    }
}
.popover {

    .popover-header {
        font-family: 'Montserrat';
        text-align: center;
        font-weight: 600;
        font-size: 1.2em;
    }

    .popover-body {
        font-family: 'Varela Round';
        text-align: center;
        font-size: 1em;

        a {
            font-family: 'Varela Round';
            color: $texto-s;
            text-decoration: none;
            @include easeIn();

            &:hover{
                font-size: 1.15em;
                @include easeIn();
            }
        }
    }
}
.logoHortec{
    width: 130px;
    height: auto;
}
.bi-three-dots-vertical.b-icon.bi {
	-webkit-transition: 250ms ease;
	-o-transition: 250ms ease;
	transition: 250ms ease;
	color: $texto-s;
}
//MODAL 

.modal-header {
    h5{
        font-family: 'Montserrat';
        text-align: center;
    }
}
.bodyModal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    .txtModal {
        margin-top:20px;
        h3{
            text-align: center;
            font-family: 'Montserrat';
            font-weight: 600;
            color: $texto-p;
        }
        p{
            font-family: 'Varela Round';
            text-align: center;
        }
    }
}
.modal-footer{
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    .btnBotiga {
   font-family: 'Montserrat';
   font-weight: 600;
   color:$background-pl;
   background-color: $background-s;
    }
    .btnCancelModal {
        font-family: 'Montserrat';
        font-weight: 600;
    }
}

//Responsive
@include mediaSm {
    .MenuNav{
        .titulo {
            margin-left: 1rem!important;
        }
        .linksMenu {
            margin-right: 0;
        }
        .nav-link {
            text-align: center;
            -webkit-animation: 1s appear;
                    animation: 1s appear;
            &:hover {
                -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                        transform: scale(1.1);
            }
        }
        .idiomas{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .selector{
                width: 80%;
                flex-flow: row;
                justify-content: space-around;
                margin-top: 2em;
                .esp,.cat{
                    margin: 0;
                    img{
                        width: auto!important;
                        transition: 150ms ease-in                    ;
                        -webkit-transition: 150ms ease-in                    ;
                        -moz-transition: 150ms ease-in                    ;
                        -ms-transition: 150ms ease-in                    ;
                        -o-transition: 150ms ease-in                    ;
                        &:hover{
                            transform: scale(1.05);
                            -webkit-transform: scale(1.05);
                            -moz-transform: scale(1.05);
                            -ms-transform: scale(1.05);
                            -o-transform: scale(1.05);
}
}
                }
            }
        }
        @-webkit-keyframes appear {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
        }
        @keyframes appear {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
        }

        .botonCta .botiga {
            margin-right: 0;
        }
    }
    .logoHortec{
        width: 95px;
        height: 45px;

    }

    .bodyModal .txtModal p {
        font-size: 0.9em;
    }
}