@import 'Estilos/config.scss';
@import 'Estilos/layout.scss';
@import 'Estilos/animaciones.scss';
@import 'Estilos/navbar.scss';
@import 'Estilos/inicio.scss';
@import 'Estilos/cooperativa.scss';
@import 'Estilos/families.scss';
@import 'Estilos/Adv.scss'
